$button-hover-color: #FDDCC4;
$button-normal-color: #F1CDB3;
$button-text-color: #292929;
$gradient-first: #5b483a;
$gradient-second: #262425;
$title-color: #F1CDB3;
$subtitle-color: #FFFFFF;
$main-gradient: linear-gradient(to right, $gradient-first, 25%, $gradient-second);
$links-normal-color: #CDCDCD;
$light-font-color: #FAFAFA;
$paragraph-font-color: #4C4C4C;
$dark-font-color: #545454;
$section-dark-backgroud: #F6F6F6;
$color-dark-m: #B2B2B2;
